:root {
  --workspace-background-color: #031430;
  --active-tab-color: black;
  --inactive-tab-color: #031430;
  --tab-hover-color: #154085; 
  --text-color: #D4D4D4;
  --permanent-tab-color: #154085;
  --permanent-tab-hover: #2457AA;

  --background-color: #EBF5FF;
  --button-hover-color: #4285F4;
  --chart-background-color: #D6EBFF;
  --secondary-button-color: #5C5C5C;
}

.hidden {
  display: none;
}

.top-right-buttons {
  clear: both;
  overflow: hidden;
  padding: 10px 20px;
}

.reg-button {
  background-color: var(--background-color); 
  border: 3px solid black;
  color: black;
  padding: 8px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.5s;
  float: right;
}

.reg-button:hover {
  border-color: var(--button-hover-color);
}