html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #333333;
}

#firepad-container {
  height: 100%;
  width: 100%;
  flex: 1;
}

.column {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#tab-bar {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-content: space-between;
}

#tabs-container {
  display: flex;
  overflow-x: scroll;
  flex-direction: row;
}

#permanent-buttons {
  flex-shrink: 0;
}

.tab {
  border: none;
  height: 30px;
  color: #b5b5b5;
  float: left;
  padding: 10px 8px;
  display: flex;
  align-items: center;

  border-right-style: solid;
  border-color: #1e1e1e;
  border-width: 1px;

  flex-shrink: 0;
}

.active-tab {
  background-color: #1e1e1e;
}

.inactive-tab {
  background-color: #333333;
}

.permanent-tab {
  background-color: #1e1e1e;
}

.tab:hover {
  background-color: #555555;
}

.tab:focus {
  outline: none;
}