body {
  text-align: center;
  background-color: #C2E1FF;
}

#bar-chart{
  display: inline-block;
  margin: 0 auto;
}

.left {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  left: 0;
  background-color: #031430;
  color: white;
}

.right {
  height: 100%;
  width: 80%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  right: 0;
  background-color: #C2E1FF;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.ta-form{
  max-width: 400px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.ta-form label{
  display:block;
  margin-bottom: 10px;
}

.ta-form label > span{
  float: left;
  width: 200px;
  color: #031430;
  font-weight: bold;
  font-size: 15px;
  text-shadow: 1px 1px 1px #fff;
}

.ta-form fieldset{
  border-radius: 10px;
  margin: 0px 0px 10px 0px;
  border: 1px solid #C2E1FF;
  padding: 20px;
  color: #C2E1FF;
  background: #2457AA;
  box-shadow: inset 0px 0px 15px #C2E1FF;
}

/* "Add a TA by Email" */
.ta-form fieldset legend{
  color: #C2E1FF;
  border-top: 1px solid #C2E1FF;
  border-left: 1px solid #C2E1FF;
  border-right: 1px solid #C2E1FF;
  border-radius: 5px 5px 0px 0px;
  background: #2457AA;
  padding: 0px 8px 3px 8px;
  box-shadow: -0px -1px 2px #C2E1FF;
  font-weight: normal;
  font-size: 14px;
}

.ta-form textarea{
  width: 350px;
  height: 100px;
}

.ta-form input[type=text],
/* Area for entering the email */
.ta-form textarea{
  border-radius: 3px;
  border: 1px solid #C2E1FF;
  outline: none;
  color: #C2E1FF;
  padding: 5px 8px 5px 8px;
  box-shadow: inset 1px 1px 4px #C2E1FF;
  background: #C2E1FF;
  width:85%;
}

.ta-form  input[type=submit],

.required{
  color: #E68A75;
  font-weight: normal;
}

#submitButton {
  background-color: #031430;
  color: #C2E1FF;
  margin-top: 10px;
  font-size: 14px;
}