html {
  height: 100%;
  overflow: hidden;
}

body {
  text-align: center;
  background-color: var(--background-color);
  font-family: 'Noto Sans', sans-serif;
  overflow: scroll;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  height:100%;
  width: 100%;
  margin: 0;
}

.left {
  height: 100%;
  min-width: 275px;
  margin: 0;
  display: flex;
  z-index: 1;
  flex-shrink: 0;
  flex: 0;
  top: 0;
  overflow-x: scroll;
  padding-top: 20px;
  left: 0;
  background-color: #031430;
  color: white;
  flex-wrap: nowrap;
  flex-direction: column;
  text-align: center;
}

.right {
  height: 100%;
  width: 100%;
  display: flex;
  z-index: 1;
  top: 0;
  margin: auto;
  overflow-x: hidden;
  flex-wrap: nowrap;
  flex-direction: column;
  padding-top: 20px;
  word-wrap: break-word;
  right: 0;
  background-color: var(--background-color);
}

.centered {
  text-align: center;
  margin: 0 auto;
}

.ta-form{
  margin: 0 auto;
  width: 90%;
  font-family: 'Noto Sans', sans-serif;
}

.ta-form label{
  display:block;
  margin-bottom: 10px;
}

.ta-form label > span{
  float: left;
  width: 95%;
  color: #031430;
  font-weight: normal;
  font-size: 15px;
  font-family: 'Noto Sans', sans-serif;
}

.ta-form fieldset, .side-section {
  border-radius: 10px;
  margin: 0px 0px 10px 0px;
  border: 1px solid #C2E1FF;
  padding: 20px;
  color: #031430;
  background: #EBF5FF;
  font-family: 'Noto Sans', sans-serif;
}

.ta-form fieldset legend{
  color:#031430;
  border-top: 1px solid #C2E1FF;
  border-left: 1px solid #C2E1FF;
  border-right: 1px solid #C2E1FF;
  border-radius: 5px 5px 0px 0px;
  background: #EBF5FF;
  padding: 0px 8px 3px 8px;
  font-weight: normal;
  font-size: 14px;
  font-family: 'Noto Sans', sans-serif;
}

.ta-form textarea{
  width: 350px;
  height: 100px;
}

.ta-form input[type=text],
.ta-form textarea{
  border-radius: 3px;
  border: 1px solid #C2E1FF;
  outline: none;
  color: #031430;
  padding: 5px 8px 5px 8px;
  background: #C2E1FF;
  width:85%;
  font-family: 'Noto Sans', sans-serif;
}

.ta-form  input[type=submit],

.required{
  color: #E68A75;
  font-weight: normal;
}

#submitButton, .side-section button, .roster-button {
  background-color: #031430;
  color: #EBF5FF;
  margin-top: 10px;
  font-size: 14px;
  font-family: 'Noto Sans', sans-serif;
}

.hidden {
  display: none;
}

#envTable {
  width: 100%;
}

.footer {
  text-align: center;
  background-color: var(--background-color);
  color: #031430;
  width: 100%;
}

.displayList {
  text-align: left;
  margin-left: 15px;
  background-color: var(--background-color);
  color: #031430;
  width: 100%;
}

#roster {
  background-color: #C2E1FF;
  width: 80%;
  height: 70%;
}

.roster-section {
  width: 80%;
  border-radius: 10px;
  margin: 0 auto;
  padding: 20px;
  color: #031430;
  background: #EBF5FF;
  font-family: 'Noto Sans', sans-serif;
}

#env-header h3 {
  display: inline;
  margin: 0;
}

#env-header a {
  font-size: smaller;
  float: right;
  padding: 5px;
  color: #031430;
}

#charts {
  max-width: 800px;
  width: 100%;
  margin: auto;
}

.chart {
  margin: 0 auto;
  flex-shrink: 0;
}

.chart.hidden {
  display: none;
}

.tab {
  border: none;
  height: 40px;
  float: left;
  padding: 0px 15px;
  display: flex;
  align-items: center;
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
  background-color: var(--background-color);
}

.active-tab {
  border-color: var(--button-hover-color);
}

.inactive-tab {
  border-color: var(--secondary-button-color);
}

.tab:hover {
  border-color: var(--permanent-tab-hover);
}

.tab:focus {
  outline: none;
}

.text-left-right {
  text-align: center;
  position: relative;
  flex-wrap: nowrap;
}

.byline {
  color: black;
}

.tabs {
  clear: both;
  overflow: hidden;
}

.top-right-buttons.overflow-fix {
  overflow: visible;
}