*{
  font-family: 'Noto Sans', sans-serif;
}

body {
  background-color: var(--background-color);
}

.bg {
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  overflow: hidden;
  font-size: 50px;
}

/* Prevent header text from creating whitespace at top of page */
.bg h1{
  margin: 0;
}

.button {
  background-color: white; 
  border: none;
  color: white;
  padding: 8px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.5s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

.button1:hover {
  background-color: #555555;
  color: white;
}

#signout {
  visibility: hidden;
}

#text{
  text-align: center;
  line-height: 30px;
  display: table-cell; 
  vertical-align: middle;
}

#text p{
    color: #4c4c4c;
    font-size: 20px;
}

#text h1{
    color: #4285f4;
    font-size: 35px;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  position: relative;
}

#main {
  height: 100vh; 
  display: table;
  width: 100%;
}

#firebaseui-auth-container {
  position: absolute;
  right: 0;
}