*{
  font-family: 'Noto Sans', sans-serif;
}

body {
  background-color: var(--background-color);
}

.wrapper {
  overflow: auto;
  text-align: center;
  max-width: 850px;
  margin: auto;
}

.class-container{
  border: 3px solid #000;
  padding: 10px;
  overflow: auto;
  margin: auto;  
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 800px;

  display: inline-block;
  width: 7em;
  height: 8em;
  cursor: pointer;

  text-decoration: none;
  color: #000;
}

.class-info-container {
  height: 100%;
  width: 100%;
  display: table;
}

.class-info {
  display: table-cell;
  vertical-align: middle;
}

.plus {
  font-size: xxx-large;
  margin: 0;
}

.class-container:hover {
  border: 3px solid #4285F4;
}

.button {
  background-color: var(--background-color); 
  border: 1px solid black;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.5s;
}

.button:hover {
  border-color: var(--button-hover-color);
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: var(--background-color);
  width: 50%;
  position: relative;
}

.popup .close {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
}
.popup .close:hover {
  color: #4285F4;
}
.popup .content {
  overflow: auto;
}

.in-queue-indicator::before {
  content: ' \25CF';
  color: green;
  padding-right: 5px;
}